/* 
#app-con {

    width: 20%;
    height: 95%;
    padding: 1em 2em;
    background-color: rgb(251, 218, 231);
    flex-direction: column;
    border-radius: 25px;
} */


ul {
    list-style-type:none;
}
body {
    font-family: 'Spartan', sans-serif;
    background: rgb(215, 187, 233);
    /* display: flex;
    justify-content: center; */
}

#input-text-task-list, #text-field {
    background-color: white;
    border: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px 10px;
}


#change-btn {
    /* background-color: white; */
    border-radius: 50px;
    padding: 5px 15px; 
    margin: 2px;
    border: none;
}

#add-btn {
    /* background-color: white; */
    border-radius: 50px;
    padding: 0px 15px; 
    margin: 2px;
    border: none;
}

#delete-btn {
    /* background-color: rgb(170, 187, 169); */
    border-radius: 50px;
    padding: 5px 15px; 
    margin: 2px;
    border:none;
}

#reset-btn {
    /* background-color: rgb(225, 200, 201); */
    border-radius: 50px;
    padding: 15px 15px; 
    margin: 2px;
    border:none;
}

#delete-btn:hover{
    /* background-color: rgb(225, 200, 201); */
}

#reset-btn:hover {
    /* background-color: rgb(240, 164, 196); */
}
#add-btn:hover, #change-btn:hover{
    /* background-color: rgb(170, 187, 169); */
    border: none;
}

#input-text-task-list:disabled {
    /* background-color: rgb(235, 235, 235); */
}


#task-list, #done-list, #fill-in-row, #error-message{
    /* display: flex;
    justify-content: center; */
    margin: 10px 20px;
}

#reset-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 50px;
}

h1 {
    /* display: flex;
    justify-content: center; */
    margin: 60px 20px;

}

h3 {
    /* display: flex;
    justify-content: center; */
    margin-top: 60px;
}


#error-message p{
    /* display: flex;
    justify-content: center; */
    margin: 10px 0px;
    width: 350px;
    font-size: 14px;
    padding: 15px 10px;
    background-color: rgb(225, 200, 201);
    color: rgb(146, 63, 66);
    /* font-weight: bolder; */
    border-radius: 10px;
}

