body {
    font-family: 'Spartan', sans-serif;
    background: #FCD8E3;
}

#outline-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 580px;
    margin:  auto;
    margin-top: 10em;
    padding: 10px;
}

#app-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe9f0;
    border-radius: 10px;
    padding-bottom: 1.5em;
    width: 550px;
    margin:  auto;
}

#headline {
    top:-70px;
    position: relative;
    background-color: white;
    border-radius: 5px; 
    padding: 1em 6.5em;
}

#task-container {
    margin-top: 2em;
}

#fill-in-container {
    /* width: 430px; */

}

ul {
    list-style-type:none;
    padding-left: 0;
}

#input-text-task-list {
    background-color: #ffe9f0;
    border: none;
    border-bottom: 2px solid #F24B4B;
    padding: 8px 20px;
    margin: 0.5em 10px;
}

#input-text-task-list:enabled {
    background-color: white;
}

#text-field {
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px 10px;
}

#input-checkbox:checked {
    color: red;
  }

#change-btn, #add-btn {
    color: #F24B4B;
    background-color: #FCD8E3;
    border: #FCD8E3 solid 2px;
    border-radius: 8px;
    padding: 5px 15px; 
    margin: 2px;
}


#delete-btn {
    color: #F24B4B;
    background-color:#FCD8E3;
    border: #FCD8E3 solid 2px;
    border-radius: 8px;
    padding: 5px 15px; 
    margin: 2px;
}

#reset-btn {
    color: #F24B4B;
    background-color:white;
    border-radius: 20px;
    padding: 10px 15px; 
    margin: 1em 0;
    border:none;
}

#delete-btn:hover, #add-btn:hover {
    color: #FCD8E3;
    background-color:#F24B4B;
    border: #F24B4B solid 2px;
}

#reset-btn:hover {
    color: #FCD8E3;
    background-color: #F24B4B;
}

#change-btn:hover{
    color: #F24B4B;
    background-color:white;
    border: white solid 2px;
}

#reset-container{
    text-align: center;
}

h1 {
    text-align: center;
    color: #F24B4B;
    font-family: inherit;
}

h3 {
    color: #F24B4B;
}

#reset-container h3, span, h4 {
    color: #40263D;
    text-align: center;
}

#error-message p {
    margin: 10px 0px;
    width: 410px;
    font-size: 14px;
    padding: 15px 10px;
    background-color: #FCD8E3;
    color: #F24B4B;
}

